// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-coral: #FB6178;
    --ion-color-coral-contrast: #ffffff;
    --ion-color-coral-shade: #e05569;
    --ion-color-coral-tint: #fc758a;
}