<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bg-nubes-header radio-bottom-right"></div>
    
    <ion-fab-button routerLink="/clase" class="fab-transparente" >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>

    <ion-title style="color: white;" slot="end">{{ usuario.nombre }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/datos-usuario">
        <img alt="Foto de usuario" [src]="usuario.foto"
          style="width: 70px; height: 70px; border-radius: 50%; object-fit: cover; margin-right: 15px;">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary" class="parent-relative center">
  <div class="bg-auto-fixed radio-top-left"></div>
  <ion-content class="ion-padding">
    <h2>{{ datos.nombre }}</h2>
    <p>{{ datos.periodo }}</p>

    <ion-grid>
      <ion-row *ngFor="let actividad of actividades; let i = index">
        <!-- Se genera una columna para cada actividad -->
        <ion-col size-lg="2" size-xs="1" > </ion-col>
        <ion-col size-lg="8" size-xs="10" *ngIf="actividad">
          <div class="card"  routerLink="/clase-detalle" [ngClass]="actividad.color">
            <p>{{ actividad.titulo }}</p>
            <h3>{{ actividad.valor }}</h3>
          </div>
          <div class="card">
            <p>Observaciones:</p>
            <h3>{{ observaciones.texto }}</h3>
          </div>
        </ion-col>
        <ion-col size-lg="2" size-xs="1" > </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>

